.measurelytics-report {
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.measurelytics-report__plots {
  height: 100%;
  overflow: scroll;
  padding: 20px;
  background: white;
}

.measurelytics-report-event__title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-family: verdana;
  font-weight: 100;
}

.measurelytics-report-event {
  position: relative;
}

.measurelytics-plot-menu {
  position: absolute;
  top: 62px;
}
